
*{
	margin: 0px;
	padding: 0px;
	text-decoration: none !important;
}
body{
    font-family: "Open Sans",sans-serif;
}
ul,h1,h2,h3,h4,h5,h6{
	margin: 0px;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 700;
}
ul.ul li{
    list-style-type: none;
}
table{
    width: 100% !important
}
table tr td{
    padding: 8px;
}
.red{
    color: red;
}
img{
	max-width: 100%;
	max-height: 100%;
}
button:hover{
    color: white !important;
}
.row-s{
    margin: 0px -7px;
}
.col-s{
    padding: 0px 7px;
}
.over{
    overflow: hidden;
}
.delay{
    -moz-transition: ease 0.5s;
    -o-transition: ease 0.5s;
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
}
.bg{
    background: #15a10d;
    border-radius: 0;
    color: white;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(49, 49, 50, 0.78);
    z-index: 99;
}
.logo{
    float: left;
    padding: 8px 0;
}
.logo.delay img {
    max-width: 250px;
}
.leng-item {
    float: right;
    color: white;
    margin-top: -10px;
    padding-top: 40px;
}
.leng-item >ul >li{
    float: left;
    margin-left: 10px;
    position: relative;
    z-index: 2;
}
.leng-item >ul >li:nth-child(2){
    width: 25px;
    height: 25px;
    border-radius: 100%;
    text-align: center;
    background: #7f7f7f; 
}
.leng-item >ul >li:nth-child(2) ul.dropdown-menu {
    min-width: 100px;
    position: absolute;
    left: -40px;
    top: 36px;
    padding: 0;
}
.leng-item >ul >li:nth-child(2) ul.dropdown-menu:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: -6px;
    left: 53px;
    margin-left: -6px;
    border-left: solid 6px transparent;
    border-right: solid 6px transparent;
    border-bottom: solid 6px #fff;
}
.leng-item >ul >li:nth-child(2) ul.dropdown-menu li:nth-child(2){
    border-top: 1px solid #ccc;
}
.leng-item ul li:nth-child(2) ul li {
    width: 100%;
    white-space: nowrap;
}
.leng-item ul li i {
    font-size: 17px;
    display: inline-block;
    margin-top: 0;
    width: 25px;
    height: 25px;
    text-align: center;
    background: red;
    border-radius: 100%;
    padding: 3px 0px;
}
.leng-item ul li:nth-child(1) i{
    color: white;
    font-size: 16px;
    padding: 4px 0px;
    background: #ff9600;
}
.show-serach {
    width: 300px;
    height: 84px;
    position: absolute;
    top: -30px;
    right: 0;
    z-index: 1;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    background: #30353d;
    padding: 27px 15px;
}
.show-serach:after{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 30px;
    right: -10px;
    border-top: solid 11px transparent;
    border-bottom: solid 11px transparent;
    border-left: solid 11px #30353d;
}
.search {
    width: 100%;
    height: 30px;
    position: relative;
    float: left;
}

.search input {
    position: absolute;
    width: 100%;
    float: left;
    margin-left: 0px;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    height: 30px;
    line-height: 18px;
    padding: 0 2px 0 2px;
    border-radius:1px;
    font-size: 14px;
}

.search .btn {
    height: 30px;
    position: absolute;
    right: 0;
    top: 0px;
    border-radius:1px;
    font-size: 14px;
    background: #ff9600;
    line-height: 0px;
    color: white !important;
}
.leng-item.show-sea ul li:nth-child(1) i:before{
        content: "\f00d";
}
.leng-item.show-sea ul li:nth-child(1) .show-serach{
    opacity: 1;
    visibility: visible;
    right: 45px;
}
.leng-item >ul >li:nth-child(3) span a {
    font-size: 20px;
    color: red;
    font-weight: 600;
    vertical-align: top;
}

.leng-item >ul >li .dropdown img {
    cursor: pointer;
}

.leng-item ul li:nth-child(2) ul li a:hover {
    background: #7f7f7f;
    color: white;
    -moz-transition: ease 0.5s;
    -o-transition: ease 0.5s;
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
}

.header.delay.headerxd .logo img {
    max-width: 180px;
}

.header.delay.headerxd .menu.delay {
    height: 66px;
}
.header.delay.headerxd {
    background: rgba(49, 49, 50, 0.91);
}
.header.delay.headerxd .menu nav >ul >li {
    height: 66px;
    line-height: 66px;
}
.header.delay.headerxd .menu nav >ul >li >a{
    padding: 21px 20px;
}
.header.delay.headerxd .leng-item {
    padding-top: 30px;
}
.header.delay.headerxd .show-serach {
    height: 66px;
    top: -20px;
    padding: 18px 15px;
}
.header.delay.headerxd .show-serach:after{
    top: 22px;
}


/*footter*/
.footter{
    background: #242a33;
    color: white;
    padding: 25px 0;
    border-top: 5px solid #f03030;
}
.footter .item h3{
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 15px;
}
.footter .item p{
    position: relative;
    padding-left: 20px;
}
.footter .item p i{
    position: absolute;
    left: 0;
    top: 3px;
}
.footter .item ul.ft li{
    position: relative;
    padding-left: 15px;
}
.footter .item ul.ft li a{
    color: white;
    display: block;
    padding: 3px 0px;
}
.footter .item ul.ft li a i{
    position: absolute;
    top: 6px;
    left: 0;
}
.footter .item ul.connect{
    float: right;
}
.footter .item ul.connect li{
    float: left;
}
.footter .item ul.connect li a i {
    width: 35px;
    height: 35px;
    text-align: center;
    color: #f03030;
    background: white;
    -moz-transition: ease 0.5s;
    -o-transition: ease 0.5s;
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
    font-size: 23px;
    font-weight: 700;
    margin-left: 10px;
    border-radius: 100%;
    padding: 6px 0px;
}
.footter .item ul.connect li a i:hover{
    color: white;
    background: #f03030;
}

/**/
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 111;
    top: 0;
    left: 0;
}
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -15px 0 0 -175px;
    -webkit-transform: scale(.75);
    transform: scale(.75);
    z-index: 112
}

.loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: 111;
    background: rgba(48, 53, 61, 0.96);
}
.loader-wrapper .loader-section.section-left {
    left: 0
}

.loader-wrapper .loader-section.section-right {
    right: 0
}
.loaded .loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
}
.loaded .loader {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0)
}
.loaded .loader-wrapper {
    visibility: hidden
}
.loaded .loader {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    transition: all .7s ease-out
}
.loaded .loader-wrapper .loader-section.section-left,
.loaded .loader-wrapper .loader-section.section-right {
    transition: all .7s .7s ease-out
}
.loaded .loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    transform: translateX(100%)
}
.loaded .loader-wrapper {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    transition: all .3s 1.6s ease-out
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 99999;
    width: 80px;
    height: 80px;
    display: inline-block;
    margin: auto;
}
.loader img{
    width: 100%;
}

.gotop {
    position: fixed;
    bottom: 20px;
    right: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 23px;
    color: white !important;
    z-index: 9;
    border-radius: 4px;
    line-height: 27px;
}
.diplay-none {
    display: none;
}

/*dropbox*/
.por .dropdown {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.dropdown dd,
.dropdown dt {
  margin: 0px;
  padding: 0px;
}

.dropdown ul {
  margin: -1px 0 0 0;
}

.dropdown dd {
  position: relative;
}

.por .dropdown a,
.por .dropdown a:visited {
  color: #fff;
  text-decoration: none;
  outline: none;
  font-size: 12px;
}

.dropdown dt a {
    background-color: white;
    display: block;
    min-height: 32px;
    overflow: hidden;
    border: 0;
    width: 100%;
    color: #333 !important;
    font-size: 14px !important;
}

.dropdown dt a span,
.multiSel span {
  cursor: pointer;
  display: inline-block;
  padding: 0 3px 2px 0;
}

.dropdown dd ul {
  background-color: #4F6877;
  border: 0;
  color: #fff;
  display: none;
  left: 0px;
  padding: 2px 15px 2px 5px;
  position: absolute;
  top: 2px;
  width: 100%;
  list-style: none;
}

.dropdown span.value {
  display: none;
}

.dropdown dd ul li a {
  padding: 5px;
  display: block;
}

.dropdown dd ul li a:hover {
  background-color: #fff;
}
.dropdown dd ul li input {
    margin-right: 5px;
}
p.multiSel span {
    position: static !important;
}
p.multiSel {
    height: 30px;
    margin: 0;
    padding-top: 6px;
    padding-left: 10px;
    overflow-y: auto;
}
.slyderDisplay {
    margin-top: 84px;
}
.divp table tr td:nth-child(1) {
    width: 40%;
}
ul.ul.list-left-links.list-left-check li strong {
    background: #fcfcfc;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod?EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,#fcfcfc 0%,#e6e7e8 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fcfcfc),color-stop(100%,#e6e7e8));
    background: -webkit-linear-gradient(top,#fcfcfc 0%,#e6e7e8 100%);
    background: -o-linear-gradient(top,#fcfcfc 0%,#e6e7e8 100%);
    background: -ms-linear-gradient(top,#fcfcfc 0%,#e6e7e8 100%);
    background: linear-gradient(to bottom,#fcfcfc 0%,#e6e7e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc',endColorstr='#e6e7e8',GradientType=0);
    border-bottom: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
    width: 100%;
    display: block;
    padding: 7px 25px;
}
ul.ul.list-left-links.list-left-check {
    margin: 0px -12px;
}
.clear-check {
    padding: 0px 17px;
}

